@import "./font.css";
@import "./base.css";
@import "./base.scss";

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  text-decoration: none;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  cursor: pointer;
}
